html, body, #root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    color: #ff9560;
}

.left p{
    font-size: 22px;
    margin-top: 10px;
    color: grey;
}

 button {
    background-color: #ff9560;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    border: 0;
    transition: all 0.3s ease;
}

 button:hover{
    background-color: #ff9590;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img{
    width: 150px;
    height: 150px;
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 25px;
}

.navbar ul li {
    font-size: 20px;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: #ff9560;
    font-weight: 500;
}

.navbar ul li:hover{
    background-color: #ff9560;
    border-radius: 7px ;

}

.navbar ul li a:hover{
    color: white;
}


.receips-container{
    padding: 2rem;
    background-color: white;
    min-height: 100vh;
}

.cards-wrapper{
    display: flex;
    flex-wrap: wrap;

}

.receipe-card{
    background: white;
    border-radius: 12px;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 4px 12px;
    transition: transform 0.2s ease;
}

.receipe-card h4{
    margin-bottom: 0.5rem;
    color: #ff9560;
}

.receipe-card h4:hover{
    color: black;
}

.receipe-card:hover{
    transform: translateY(-5px);
    background-color: #ff9560;
    color: white;
}

.receipe-card p, .receipe-card small {
    margin: 0.2rem 0;
}


.modal-content, .modal-header{
    border: none !important;
}
.error{
    margin-top: 10px;
    color: red;
    font-size: 16px;
}
.succes{
    margin-top: 10px;
    color: green;
    font-size: 16px;
}